openapi: 3.0.0
info:
  contact:
    name: Canva Developer Community
    url: https://community.canva.dev/
  description: API for building integrations with Canva via a REST api
  license:
    name: ©2023 All Rights Reserved
  termsOfService: https://www.canva.com/trust/legal/
  title: Canva Connect API
  version: 2024-06-18
servers:
- description: Canva Connect API
  url: https://api.canva.com/rest
tags:
- description: Allow management of brands
  name: brands
- name: analytics
- name: app
- name: asset
- name: autofill
- name: brand_template
- name: comment
- name: connect
- name: design
- name: design_import
- name: export
- name: folder
- name: merge
- name: oauth
- name: oidc
- name: resize
- name: user
paths:
  /v1/designs/{designId}/analytics:
    get:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        <Availability>
        To use this API, your integration must act on behalf of a user who is a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.
        </Availability>

        Gets the aggregated analytics for a design.

        The response includes total views, unique viewers, and view duration metrics.
      operationId: getDesignAnalytics
      parameters:
      - description: The design ID.
        explode: false
        in: path
        name: designId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDesignAnalyticsResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                analytics_invalid_design_id:
                  $ref: '#/components/examples/AnalyticsInvalidDesignIdError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                invalid_access_token:
                  $ref: '#/components/examples/InvalidAccessToken'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                analytics_permission_denied:
                  $ref: '#/components/examples/AnalyticsPermissionDeniedError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                analytics_design_not_found:
                  $ref: '#/components/examples/AnalyticsDesignNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                too_many_requests:
                  $ref: '#/components/examples/TooManyRequestsError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - design:content:read
      tags:
      - analytics
      x-required-capabilities:
      - analytics
      x-rate-limit-per-client-user: 100
  /v1/designs/{designId}/analytics/viewers:
    get:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        <Availability>
        To use this API, your integration must act on behalf of a user who is a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.
        </Availability>

        Lists viewers for a design, ordered by most recent view first.
      operationId: getDesignAnalyticsViewers
      parameters:
      - description: The design ID.
        explode: false
        in: path
        name: designId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      - description: "Filters viewers by a specific trackable link. If omitted, only\
          \ viewers who visited the design without using a trackable link are returned."
        explode: true
        in: query
        name: link_id
        required: false
        schema:
          example: hddb98a3716
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: form
      - description: "Only returns viewers whose first view happened after this time,\
          \ as a Unix timestamp (in seconds since the Unix Epoch)."
        explode: true
        in: query
        name: first_viewed_after
        required: false
        schema:
          example: 1745452800
          format: int64
          type: integer
        style: form
      - description: The maximum number of viewers to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |-
          If the success response contains a continuation token, there are more viewers you can list. You can use this token as a query parameter and retrieve more viewers from the list, for example `/v1/designs/{designId}/analytics/viewers?continuation={continuation}`.

          To retrieve all viewers, you might need to make multiple requests.
        explode: true
        in: query
        name: continuation
        required: false
        schema:
          example: RkFGMgXlsVTDbMd:MR3L0QjiaUzycIAjx0yMyuNiV0OildoiOwL0x32G4NjNu4FwtAQNxowUQNMMYN
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDesignAnalyticsViewersResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                analytics_invalid_query_parameter:
                  $ref: '#/components/examples/ExpectedLongQueryParam'
                analytics_invalid_continuation_token:
                  $ref: '#/components/examples/AnalyticsInvalidContinuationError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                invalid_access_token:
                  $ref: '#/components/examples/InvalidAccessToken'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                analytics_permission_denied:
                  $ref: '#/components/examples/AnalyticsPermissionDeniedError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                analytics_design_not_found:
                  $ref: '#/components/examples/AnalyticsDesignNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                too_many_requests:
                  $ref: '#/components/examples/TooManyRequestsError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - design:content:read
      tags:
      - analytics
      x-required-capabilities:
      - analytics
      x-rate-limit-per-client-user: 100
  /v1/designs/{designId}/analytics/views-over-time:
    get:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        <Availability>
        To use this API, your integration must act on behalf of a user who is a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.
        </Availability>

        Lists the view counts over time for a design.

        Each response item represents one time bucket.
      operationId: getDesignAnalyticsViewsOverTime
      parameters:
      - description: The design ID.
        explode: false
        in: path
        name: designId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      - description: "The inclusive start of the requested time range, as a Unix timestamp\
          \ (in seconds since the Unix Epoch)."
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          example: 1745452800
          format: int64
          type: integer
        style: form
      - description: "The inclusive end of the requested time range, as a Unix timestamp\
          \ (in seconds since the Unix Epoch)."
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          example: 1748044800
          format: int64
          type: integer
        style: form
      - description: "The timezone to use for bucketing, as a UTC offset in the form\
          \ `+HH:MM` (for example, `+10:00`)."
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          default: +00:00
          example: "600"
          type: string
        style: form
      - description: The maximum number of time buckets to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |-
          If the success response contains a continuation token, there are more time buckets you can list. You can use this token as a query parameter and retrieve more time buckets from the list, for example `/v1/designs/{designId}/analytics/views-over-time?continuation={continuation}`.

          To retrieve all time buckets, you might need to make multiple requests.
        explode: true
        in: query
        name: continuation
        required: false
        schema:
          example: RkFGMgXlsVTDbMd:MR3L0QjiaUzycIAjx0yMyuNiV0OildoiOwL0x32G4NjNu4FwtAQNxowUQNMMYN
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDesignAnalyticsViewsOverTimeResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                analytics_invalid_query_parameter:
                  $ref: '#/components/examples/ExpectedLongQueryParam'
                analytics_invalid_time_range:
                  $ref: '#/components/examples/AnalyticsInvalidTimeRangeError'
                analytics_invalid_timezone:
                  $ref: '#/components/examples/AnalyticsInvalidTimezoneError'
                analytics_invalid_continuation_token:
                  $ref: '#/components/examples/AnalyticsInvalidContinuationError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                invalid_access_token:
                  $ref: '#/components/examples/InvalidAccessToken'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                analytics_permission_denied:
                  $ref: '#/components/examples/AnalyticsPermissionDeniedError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                analytics_design_not_found:
                  $ref: '#/components/examples/AnalyticsDesignNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                too_many_requests:
                  $ref: '#/components/examples/TooManyRequestsError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - design:content:read
      tags:
      - analytics
      x-required-capabilities:
      - analytics
      x-rate-limit-per-client-user: 100
  /v1/designs/{designId}/analytics/page-views:
    post:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        <Availability>
        To use this API, your integration must act on behalf of a user who is a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.
        </Availability>

        Lists the page-level view duration data for a design.

        The request body can include page filters and pagination controls.
      operationId: getDesignAnalyticsPageViews
      parameters:
      - description: The design ID.
        explode: false
        in: path
        name: designId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetDesignAnalyticsPageViewsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDesignAnalyticsPageViewsResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                analytics_invalid_request_body:
                  $ref: '#/components/examples/FailedToReadRequestBody'
                analytics_invalid_page_views_filter:
                  $ref: '#/components/examples/AnalyticsInvalidPageViewsFilterError'
                analytics_invalid_continuation_token:
                  $ref: '#/components/examples/AnalyticsInvalidContinuationError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                invalid_access_token:
                  $ref: '#/components/examples/InvalidAccessToken'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                analytics_permission_denied:
                  $ref: '#/components/examples/AnalyticsPermissionDeniedError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                analytics_design_not_found:
                  $ref: '#/components/examples/AnalyticsDesignNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                too_many_requests:
                  $ref: '#/components/examples/TooManyRequestsError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - design:content:read
      tags:
      - analytics
      x-required-capabilities:
      - analytics
      x-rate-limit-per-client-user: 100
  /v1/designs/{designId}/analytics/links:
    get:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        <Availability>
        To use this API, your integration must act on behalf of a user who is a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.
        </Availability>

        Lists trackable links and their metrics for a design.
      operationId: getDesignAnalyticsLinks
      parameters:
      - description: The design ID.
        explode: false
        in: path
        name: designId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      - description: The maximum number of links to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |-
          If the success response contains a continuation token, there are more links you can list. You can use this token as a query parameter and retrieve more links from the list, for example `/v1/designs/{designId}/analytics/links?continuation={continuation}`.

          To retrieve all links, you might need to make multiple requests.
        explode: true
        in: query
        name: continuation
        required: false
        schema:
          example: RkFGMgXlsVTDbMd:MR3L0QjiaUzycIAjx0yMyuNiV0OildoiOwL0x32G4NjNu4FwtAQNxowUQNMMYN
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDesignAnalyticsLinksResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                analytics_invalid_query_parameter:
                  $ref: '#/components/examples/ExpectedLongQueryParam'
                analytics_invalid_continuation_token:
                  $ref: '#/components/examples/AnalyticsInvalidContinuationError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                invalid_access_token:
                  $ref: '#/components/examples/InvalidAccessToken'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                analytics_permission_denied:
                  $ref: '#/components/examples/AnalyticsPermissionDeniedError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                analytics_design_not_found:
                  $ref: '#/components/examples/AnalyticsDesignNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                too_many_requests:
                  $ref: '#/components/examples/TooManyRequestsError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - design:content:read
      tags:
      - analytics
      x-required-capabilities:
      - analytics
      x-rate-limit-per-client-user: 100
  /v1/apps/{appId}/jwks:
    get:
      description: |-
        Returns the Json Web Key Set (public keys) of an app. These keys are used to
        verify JWTs sent to app backends.
      operationId: getAppJwks
      parameters:
      - description: The app ID.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAppJwksResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      tags:
      - app
  /v1/assets/{assetId}:
    delete:
      description: |-
        You can delete an asset by specifying its `assetId`. This operation mirrors the behavior
        in the Canva UI. Deleting an item moves it to the trash.
        Deleting an asset doesn't remove it from designs that already use it.
      operationId: deleteAsset
      parameters:
      - description: The ID of the asset.
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      responses:
        "204":
          description: OK
        "403":
          content:
            application/json:
              examples:
                asset_delete_not_allowed:
                  $ref: '#/components/examples/AssetDeleteNotAllowedError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                asset_not_found:
                  $ref: '#/components/examples/AssetNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - asset:write
      tags:
      - asset
      x-rate-limit-per-client-user: 30
    get:
      description: You can retrieve the metadata of an asset by specifying its `assetId`.
      operationId: getAsset
      parameters:
      - description: The ID of the asset.
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAssetResponse'
          description: OK
        "403":
          content:
            application/json:
              examples:
                asset_access_not_allowed:
                  $ref: '#/components/examples/AssetAccessNotAllowedError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                asset_not_found:
                  $ref: '#/components/examples/AssetNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - asset:read
      tags:
      - asset
      x-rate-limit-per-client-user: 100
    patch:
      description: |-
        You can update the name and tags of an asset by specifying its `assetId`. Updating the tags
        replaces all existing tags of the asset.
      operationId: updateAsset
      parameters:
      - description: The ID of the asset.
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssetRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAssetResponse'
          description: OK
        "403":
          content:
            application/json:
              examples:
                asset_update_not_allowed:
                  $ref: '#/components/examples/AssetUpdateNotAllowedError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                asset_not_found:
                  $ref: '#/components/examples/AssetNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - asset:write
      tags:
      - asset
      x-rate-limit-per-client-user: 30
  /v1/asset-uploads:
    post:
      description: |-
        Starts a new [asynchronous job](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints) to upload an asset to the user's content library. Supported file types for assets are listed in the [Assets API overview](https://www.canva.dev/docs/connect/api-reference/assets/).

        The request format for this endpoint is an `application/octet-stream` body of bytes. Attach
        information about the upload using an `Asset-Upload-Metadata` header.


        <Note>

        For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints). You can check the status and get the results of asset upload jobs created with this API using the [Get asset upload job API](https://www.canva.dev/docs/connect/api-reference/assets/get-asset-upload-job/).

        </Note>
      operationId: CreateAssetUploadJob
      parameters:
      - content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetUploadMetadata'
        in: header
        name: Asset-Upload-Metadata
        required: true
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
        description: Binary of the asset to upload.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                in_progress:
                  $ref: '#/components/examples/InProgressAssetUploadJobExample'
                success:
                  $ref: '#/components/examples/SuccessAssetUploadJobExample'
                failed:
                  $ref: '#/components/examples/FailedAssetUploadJobExample'
              schema:
                $ref: '#/components/schemas/CreateAssetUploadJobResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - asset:write
      tags:
      - asset
      x-rate-limit-per-client-user: 30
  /v1/asset-uploads/{jobId}:
    get:
      description: |-
        Get the result of an asset upload job that was created using the [Create asset upload job API](https://www.canva.dev/docs/connect/api-reference/assets/create-asset-upload-job/).

        You might need to make multiple requests to this endpoint until you get a `success` or `failed` status. For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints).
      operationId: GetAssetUploadJob
      parameters:
      - description: The asset upload job ID.
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                in_progress:
                  $ref: '#/components/examples/InProgressAssetUploadJobExample'
                success:
                  $ref: '#/components/examples/SuccessAssetUploadJobExample'
                failed:
                  $ref: '#/components/examples/FailedAssetUploadJobExample'
              schema:
                $ref: '#/components/schemas/GetAssetUploadJobResponse'
          description: OK
        "403":
          content:
            application/json:
              examples:
                asset_access_not_allowed:
                  $ref: '#/components/examples/AssetAccessNotAllowedError'
                asset_upload_job_not_creator:
                  $ref: '#/components/examples/AssetUploadJobNotCreatorError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                asset_not_found:
                  $ref: '#/components/examples/AssetNotFoundError'
                asset_upload_job_not_found:
                  $ref: '#/components/examples/AssetUploadJobNotFoundError'
                job_id_not_found:
                  $ref: '#/components/examples/AssetJobIdNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - asset:read
      tags:
      - asset
      x-rate-limit-per-client-user: 180
  /v1/url-asset-uploads:
    post:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        Starts a new [asynchronous job](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints) to upload an asset from a URL to the user's content library. Supported file types for assets are listed in the [Assets API overview](https://www.canva.dev/docs/connect/api-reference/assets/).

        <Note>
         Uploading a video asset from a URL is limited to a maximum 100MB file size. For importing larger video files, use the [Create asset upload job API](https://www.canva.dev/docs/connect/api-reference/assets/create-asset-upload-job/).
        </Note>

        <Note>
        For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints). You can check the status and get the results of asset upload jobs created with this API using the [Get asset upload job via URL API](https://www.canva.dev/docs/connect/api-reference/assets/get-url-asset-upload-job/).
        </Note>
      operationId: createUrlAssetUploadJob
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUrlAssetUploadJobRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                in_progress:
                  $ref: '#/components/examples/InProgressAssetUploadJobExample'
                success:
                  $ref: '#/components/examples/SuccessAssetUploadJobExample'
                failed:
                  $ref: '#/components/examples/FailedAssetUploadJobExample'
              schema:
                $ref: '#/components/schemas/CreateUrlAssetUploadJobResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                url_invalid:
                  $ref: '#/components/examples/AssetUrlInvalidError'
                asset_upload_already_exists:
                  $ref: '#/components/examples/AssetUploadAlreadyExistsError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "404":
          content:
            application/json:
              examples:
                job_with_id_not_found:
                  $ref: '#/components/examples/AssetJobWithIdNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - asset:write
      tags:
      - asset
      x-rate-limit-per-client-user: 30
  /v1/url-asset-uploads/{jobId}:
    get:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        Get the result of an asset upload job that was created using the [Create asset upload job via URL API](https://www.canva.dev/docs/connect/api-reference/assets/create-url-asset-upload-job/).

        You might need to make multiple requests to this endpoint until you get a `success` or `failed` status. For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints).
      operationId: getUrlAssetUploadJob
      parameters:
      - description: The asset upload job ID.
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                in_progress:
                  $ref: '#/components/examples/InProgressAssetUploadJobExample'
                success:
                  $ref: '#/components/examples/SuccessAssetUploadJobExample'
                failed:
                  $ref: '#/components/examples/FailedAssetUploadJobExample'
              schema:
                $ref: '#/components/schemas/GetUrlAssetUploadJobResponse'
          description: OK
        "403":
          content:
            application/json:
              examples:
                get_this_job_status_not_allowed:
                  $ref: '#/components/examples/GetThisJobStatusNotAllowedError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                job_not_found:
                  $ref: '#/components/examples/AssetJobNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - asset:read
      tags:
      - asset
      x-rate-limit-per-client-user: 180
  /v1/autofills:
    post:
      description: |-
        WARNING: Brand templates were migrated to use a new ID format in September 2025. If your integration stores brand template IDs, you'll need to migrate to use the new IDs. Old brand template IDs will continue to be accepted for 6 months to give you time to migrate to the new IDs.

        <Availability>
        To use this API, your integration must act on behalf of a user who is a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.

        Users on Canva paid plans have access to a limited trial while your integration is under development. For more information, see [Trial quotas](https://www.canva.dev/docs/connect/api-requests-responses/#trial-quotas).
        </Availability>

        Starts a new [asynchronous job](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints) to autofill a new Canva design using input data. Use the `type` field to choose the source of the design:

        - `create_from_brand_template`: autofill a new design from a brand template. If `type` isn't specified in the request, the request type is assumed to be `create_from_brand_template`. To get a list of input data fields for a brand template, use the [Get brand template dataset API](https://www.canva.dev/docs/connect/api-reference/brand-templates/get-brand-template-dataset/).
        - `create_from_design`: autofill a new design from an existing design that contains autofill data fields. To get the input data fields for an existing design, use the [Get design dataset
        API](https://www.canva.dev/docs/connect/api-reference/designs/get-design-dataset/).

          WARNING: Creating an autofilled design from an existing design is a [preview feature](https://www.canva.dev/docs/connect/#preview-apis). There might be unannounced breaking changes to this feature which won't produce a new API version.

        Available data field types to autofill include:

        - Images (which you can autofill with an image or a video asset)
        - Text
        - Charts
        - Sheets

        WARNING: Chart and sheet data fields and autofilling a video are [preview features](https://www.canva.dev/docs/connect/#preview-apis). There might be unannounced breaking changes to these features which won't produce a new API version.

        NOTE: For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints). You can check the status and get the results of autofill jobs created with this API using the [Get design autofill job API](https://www.canva.dev/docs/connect/api-reference/autofills/get-design-autofill-job/).
      operationId: createDesignAutofillJob
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDesignAutofillJobRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                in_progress:
                  $ref: '#/components/examples/InProgressAutofillJobExample'
                success:
                  $ref: '#/components/examples/SuccessAutofillJobExample'
                failed:
                  $ref: '#/components/examples/FailedAutofillJobExample'
              schema:
                $ref: '#/components/schemas/CreateDesignAutofillJobResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                design_title_invalid:
                  $ref: '#/components/examples/DesignTitleInvalidError'
                chart_data_processing_unsupported:
                  $ref: '#/components/examples/ChartDataProcessingUnsupportedError'
                invalid_brand_template_id:
                  $ref: '#/components/examples/InvalidBrandTemplateIdError'
                design_not_fillable:
                  $ref: '#/components/examples/DesignNotFillableError'
                autofill_data_invalid:
                  $ref: '#/components/examples/AutofillDataInvalidError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                brand_template_forbidden:
                  $ref: '#/components/examples/BrandTemplateForbiddenError'
                autofill_design_forbidden:
                  $ref: '#/components/examples/AutofillDesignForbiddenError'
                autofill_feature_forbidden:
                  $ref: '#/components/examples/AutofillFeatureForbiddenError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                brand_template_not_found:
                  $ref: '#/components/examples/BrandTemplateNotFoundError'
                autofill_design_not_found:
                  $ref: '#/components/examples/AutofillDesignNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                autofill_feature_quota_exceeded:
                  $ref: '#/components/examples/AutofillFeatureQuotaExceededError'
              schema:
                $ref: '#/components/schemas/FeatureQuotaExceededError'
          description: Too Many Requests
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - design:content:write
      tags:
      - autofill
      x-rate-limit-per-client-user: 60
  /v1/autofills/{jobId}:
    get:
      description: |-
        <Availability>
        To use this API, your integration must act on behalf of a user who is a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.

        Users on Canva paid plans have access to a limited trial while your integration is under development. For more information, see [Trial quotas](https://www.canva.dev/docs/connect/api-requests-responses/#trial-quotas).
        </Availability>

        Get the result of a design autofill job that was created using the [Create design autofill job
        API](https://www.canva.dev/docs/connect/api-reference/autofills/create-design-autofill-job/).

        You might need to make multiple requests to this endpoint until you get a `success` or `failed` status. For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints).
      operationId: getDesignAutofillJob
      parameters:
      - description: The design autofill job ID.
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                in_progress:
                  $ref: '#/components/examples/InProgressAutofillJobExample'
                success:
                  $ref: '#/components/examples/SuccessAutofillJobExample'
                failed:
                  $ref: '#/components/examples/FailedAutofillJobExample'
              schema:
                $ref: '#/components/schemas/GetDesignAutofillJobResponse'
          description: OK
        "404":
          content:
            application/json:
              examples:
                design_autofill_job_not_found:
                  $ref: '#/components/examples/DesignAutofillJobNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "403":
          content:
            application/json:
              examples:
                design_autofill_job_forbidden:
                  $ref: '#/components/examples/DesignAutofillJobForbiddenError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - design:meta:read
      tags:
      - autofill
      x-rate-limit-per-client-user: 60
  /v1/brand-templates:
    get:
      description: |-
        WARNING: Brand templates were migrated to use a new ID format in September 2025. If your integration stores brand template IDs, you'll need to migrate to use the new IDs. Old brand template IDs will continue to be accepted for 6 months to give you time to migrate to the new IDs.

        AVAILABILITY: To use this API, your integration must act on behalf of a user that's on a Canva plan with access to brand templates (such as Canva Pro, Canva Teams, or Canva Enterprise).

        Get a list of the [brand templates](https://www.canva.com/help/publish-team-template/) the user has access to.
      operationId: listBrandTemplates
      parameters:
      - description: Lets you search the brand templates available to the user using
          a search term or terms.
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: |-
          If the success response contains a continuation token, the user has access to more
          brand templates you can list. You can use this token as a query parameter and retrieve
          more templates from the list, for example
          `/v1/brand-templates?continuation={continuation}`.
          To retrieve all the brand templates available to the user, you might need to make
          multiple requests.
        explode: true
        in: query
        name: continuation
        required: false
        schema:
          type: string
        style: form
      - description: The number of brand templates to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Filter the list of brand templates based on the user's ownership
          of the brand templates.
        explode: true
        in: query
        name: ownership
        required: false
        schema:
          $ref: '#/components/schemas/OwnershipType'
        style: form
      - description: Sort the list of brand templates.
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          $ref: '#/components/schemas/SortByType'
        style: form
      - description: |-
          Filter the list of brand templates based on the brand templates' dataset definitions.
          Brand templates with dataset definitions are mainly used with the [Autofill APIs](https://www.canva.dev/docs/connect/api-reference/autofills/).
        explode: true
        in: query
        name: dataset
        required: false
        schema:
          $ref: '#/components/schemas/DatasetFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBrandTemplatesResponse'
          description: OK
        "403":
          content:
            application/json:
              examples:
                find_brand_templates_forbidden:
                  $ref: '#/components/examples/FindBrandTemplatesForbiddenError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - brandtemplate:meta:read
      tags:
      - brand_template
      x-rate-limit-per-client-user: 100
    post:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        AVAILABILITY: To use this API, your integration must act on behalf of a user that's on a Canva plan with access to brand templates (such as Canva Pro, Canva Teams, or Canva Enterprise). Additionally, the user must have one of the following [roles](https://www.canva.com/help/roles-and-permissions/): Team admin, Brand designer, Organization admin, or Organization designer.

        Publishes a design as a [brand template](https://www.canva.com/help/publish-team-template/). Brand templates are design templates that can be shared across a team for consistent content creation.

        This API supports two workflows:

        - **Initial publish**: If the design is not linked to an existing brand template, a new brand template is created.
        - **Republish**: If the design is a draft of an existing brand template (created by editing an existing template), the existing template is updated with the changes.

        The API returns the published brand template immediately.

        <Note>
        The `thumbnail` field might be `null` immediately after publishing, as thumbnails are generated asynchronously. You can use the [Get brand template API](https://www.canva.dev/docs/connect/api-reference/brand-templates/get-brand-template/) to retrieve the thumbnail once it's ready. The brand template's `view_url` and `create_url` are available immediately.
        </Note>
      operationId: publishBrandTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishBrandTemplateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  $ref: '#/components/examples/PublishBrandTemplateSuccessExample'
              schema:
                $ref: '#/components/schemas/PublishBrandTemplateResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                invalid_design_id:
                  $ref: '#/components/examples/InvalidDesignIdError'
                resource_limit_exceeded:
                  $ref: '#/components/examples/ResourceLimitExceededError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request - includes validation errors and other bad request
            errors
        "403":
          content:
            application/json:
              examples:
                publish_permission_denied:
                  $ref: '#/components/examples/PublishPermissionDeniedError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                publish_brand_template_design_not_found:
                  $ref: '#/components/examples/PublishBrandTemplateDesignNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - brandtemplate:content:write
      tags:
      - brand_template
      x-rate-limit-per-client-user: 20
  /v1/brand-templates/{brandTemplateId}:
    get:
      description: |-
        WARNING: Brand templates were migrated to use a new ID format in September 2025. If your integration stores brand template IDs, you'll need to migrate to use the new IDs. Old brand template IDs will continue to be accepted for 6 months to give you time to migrate to the new IDs.

        AVAILABILITY: To use this API, your integration must act on behalf of a user that's on a Canva plan with access to brand templates (such as Canva Pro, Canva Teams, or Canva Enterprise).

        Retrieves the metadata for a brand template.
      operationId: getBrandTemplate
      parameters:
      - description: The brand template ID.
        explode: false
        in: path
        name: brandTemplateId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBrandTemplateResponse'
          description: OK
        "403":
          content:
            application/json:
              examples:
                get_brand_template_permission_denied:
                  $ref: '#/components/examples/GetBrandTemplatePermissionDeniedError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                get_brand_template_not_found:
                  $ref: '#/components/examples/GetBrandTemplateNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - brandtemplate:meta:read
      tags:
      - brand_template
      x-rate-limit-per-client-user: 100
  /v1/brand-templates/{brandTemplateId}/dataset:
    get:
      description: |-
        WARNING: Brand templates were migrated to use a new ID format in September 2025. If your integration stores brand template IDs, you'll need to migrate to use the new IDs. Old brand template IDs will continue to be accepted for 6 months to give you time to migrate to the new IDs.

        AVAILABILITY: To use this API, your integration must act on behalf of a user that's on a Canva plan with access to brand templates (such as Canva Pro, Canva Teams, or Canva Enterprise).

        Gets the dataset definition of a brand template. If the brand
        template contains autofill data fields, this API returns an object with the data field
        names and the type of data they accept.

        <Note>

        To get the dataset definition of a design, use the
        [Get design dataset API](https://www.canva.dev/docs/connect/api-reference/designs/get-design-dataset/).

        </Note>

        Available data field types include:

        - Images (which you can autofill with an image or a video asset)
        - Text
        - Charts

        You can autofill a brand template using the [Create a design autofill job
        API](https://www.canva.dev/docs/connect/api-reference/autofills/create-design-autofill-job/).

        WARNING: Chart data fields and autofilling a video are [preview features](https://www.canva.dev/docs/connect/#preview-apis). There might be unannounced breaking changes to these features which won't produce a new API version.
      operationId: getBrandTemplateDataset
      parameters:
      - description: The brand template ID.
        explode: false
        in: path
        name: brandTemplateId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBrandTemplateDatasetResponse'
          description: OK
        "403":
          content:
            application/json:
              examples:
                get_brand_template_dataset_permission_denied:
                  $ref: '#/components/examples/GetBrandTemplateDatasetPermissionDeniedError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                get_brand_template_dataset_not_found:
                  $ref: '#/components/examples/GetBrandTemplateDatasetNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - brandtemplate:content:read
      tags:
      - brand_template
      x-rate-limit-per-client-user: 100
  /v1/comments:
    post:
      deprecated: true
      description: |-
        <Warning>

        This preview API is deprecated. You should use the [Create thread](https://www.canva.dev/docs/connect/api-reference/comments/create-thread/) API instead.

        </Warning>

        Create a new top-level comment on a design.
        For information on comments and how they're used in the Canva UI, see the
        [Canva Help Center](https://www.canva.com/help/comments/). A design can have a maximum
        of 1000 comments.
      operationId: createComment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCommentResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                assignee_not_mentioned:
                  $ref: '#/components/examples/AssigneeNotMentionedError'
                message_too_long:
                  $ref: '#/components/examples/MessageTooLongError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                too_many_comments:
                  $ref: '#/components/examples/TooManyCommentsError'
                not_allowed_to_comment:
                  $ref: '#/components/examples/NotAllowedToCommentError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                design_not_found:
                  $ref: '#/components/examples/DesignNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - comment:write
      tags:
      - comment
      x-rate-limit-per-client-user: 20
  /v1/designs/{designId}/comments/{threadId}/replies:
    get:
      description: |-
        <Warning>
        This API is currently provided as a preview. Be aware of the following:
        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.
        </Warning>

        Retrieves a list of replies for a comment or suggestion thread on a design.

        For information on comments and how they're used in the Canva UI, see the
        [Canva Help Center](https://www.canva.com/help/comments/).
      operationId: listReplies
      parameters:
      - description: The design ID.
        explode: false
        in: path
        name: designId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      - description: The ID of the thread.
        example: KeAbiEAjZEj
        explode: false
        in: path
        name: threadId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          description: The number of replies to return.
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |-
          If the success response contains a continuation token, the list contains more items you can list. You can use this token as a query parameter and retrieve more items from the list, for example `?continuation={continuation}`.

          To retrieve all items, you might need to make multiple requests.
        explode: true
        in: query
        name: continuation
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRepliesResponse'
          description: OK
        "403":
          content:
            application/json:
              examples:
                not_allowed_to_fetch_replies:
                  $ref: '#/components/examples/NotAllowedToFetchRepliesError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                design_or_thread_not_found:
                  $ref: '#/components/examples/DesignOrThreadNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - comment:read
      tags:
      - comment
      x-rate-limit-per-client-user: 100
    post:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        Creates a reply to a comment or suggestion thread on a design.
        To reply to an existing thread, you must provide the ID of the thread
        which is returned when a thread is created, or from the `thread_id` value
        of an existing reply in the thread. Each thread can
        have a maximum of 100 replies created for it.

        For information on comments and how they're used in the Canva UI, see the
        [Canva Help Center](https://www.canva.com/help/comments/).
      operationId: createReply
      parameters:
      - description: The design ID.
        explode: false
        in: path
        name: designId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      - description: The ID of the thread.
        example: KeAbiEAjZEj
        explode: false
        in: path
        name: threadId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReplyV2Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateReplyV2Response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                message_too_long:
                  $ref: '#/components/examples/MessageTooLongError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                too_many_replies:
                  $ref: '#/components/examples/TooManyRepliesError'
                not_allowed_to_reply:
                  $ref: '#/components/examples/NotAllowedToReplyError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                design_or_comment_not_found:
                  $ref: '#/components/examples/DesignOrCommentNotFoundForReplyError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - comment:write
      tags:
      - comment
      x-rate-limit-per-client-user: 20
  /v1/designs/{designId}/comments/{threadId}:
    get:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        Gets a comment or suggestion thread on a design.
        To retrieve a reply to a comment thread, use the [Get reply](https://www.canva.dev/docs/connect/api-reference/comments/get-reply/) API.
        For information on comments and how they're used in the Canva UI, see the
        [Canva Help Center](https://www.canva.com/help/comments/).
      operationId: getThread
      parameters:
      - description: The design ID.
        explode: false
        in: path
        name: designId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      - description: The ID of the thread.
        example: KeAbiEAjZEj
        explode: false
        in: path
        name: threadId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetThreadResponse'
          description: OK
        "403":
          content:
            application/json:
              examples:
                not_allowed_to_fetch_comment:
                  $ref: '#/components/examples/NotAllowedToFetchCommentError'
                not_allowed_to_fetch_suggestion:
                  $ref: '#/components/examples/NotAllowedToFetchSuggestionError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                thread_not_found:
                  $ref: '#/components/examples/ThreadNotFoundError'
                thread_not_attached_to_design:
                  $ref: '#/components/examples/ThreadNotAttachedToDesignError'
                suggestion_not_found:
                  $ref: '#/components/examples/SuggestionNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - comment:read
      tags:
      - comment
      x-rate-limit-per-client-user: 100
  /v1/designs/{designId}/comments/{threadId}/replies/{replyId}:
    get:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        Gets a reply to a comment or suggestion thread on a design.
        For information on comments and how they're used in the Canva UI, see the
        [Canva Help Center](https://www.canva.com/help/comments/).
      operationId: getReply
      parameters:
      - description: The design ID.
        explode: false
        in: path
        name: designId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      - description: The ID of the thread.
        example: KeAbiEAjZEj
        explode: false
        in: path
        name: threadId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      - description: The ID of the reply.
        example: KeAZEAjijEb
        explode: false
        in: path
        name: replyId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReplyResponse'
          description: OK
        "403":
          content:
            application/json:
              examples:
                not_allowed_to_fetch_reply:
                  $ref: '#/components/examples/NotAllowedToFetchReplyError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                reply_not_found:
                  $ref: '#/components/examples/ReplyNotFoundError'
                suggestion_reply_not_found:
                  $ref: '#/components/examples/SuggestionReplyNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - comment:read
      tags:
      - comment
      x-rate-limit-per-client-user: 100
  /v1/designs/{designId}/comments:
    post:
      description: |-
        <Warning>
        This API is currently provided as a preview. Be aware of the following:
        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.
        </Warning>

        Creates a new comment thread on a design.
        For information on comments and how they're used in the Canva UI, see the
        [Canva Help Center](https://www.canva.com/help/comments/).
      operationId: createThread
      parameters:
      - description: The design ID.
        explode: false
        in: path
        name: designId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateThreadRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateThreadResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                assignee_not_mentioned:
                  $ref: '#/components/examples/AssigneeNotMentionedError'
                message_too_long:
                  $ref: '#/components/examples/MessageTooLongError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                too_many_comments:
                  $ref: '#/components/examples/TooManyCommentsError'
                not_allowed_to_comment:
                  $ref: '#/components/examples/NotAllowedToCommentError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                design_not_found:
                  $ref: '#/components/examples/DesignNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - comment:write
      tags:
      - comment
      x-rate-limit-per-client-user: 100
  /v1/connect/keys:
    get:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        The Keys API (`connect/keys`) is a security measure you can use to verify the authenticity
        of webhooks you receive from Canva Connect. The Keys API returns a
        [JSON Web Key (JWK)](https://www.rfc-editor.org/rfc/rfc7517#section-2), which you can use to
        decrypt the webhook signature and verify it came from Canva and not a potentially malicious
        actor. This helps to protect your systems from
        [Replay attacks](https://owasp.org/Top10/A08_2021-Software_and_Data_Integrity_Failures/).

        The keys returned by the Keys API can rotate. We recommend you cache the keys you receive
        from this API where possible, and only access this API when you receive a webhook signed
        with an unrecognized key. This allows you to verify webhooks quicker than accessing this API
        every time you receive a webhook.
      operationId: getSigningPublicKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSigningPublicKeysResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      tags:
      - connect
  /v1/designs:
    get:
      description: |-
        Lists metadata for all the designs in a Canva user's
        [projects](https://www.canva.com/help/find-designs-and-folders/). You can also:

        - Use search terms to filter the listed designs.
        - Show designs either created by, or shared with the user.
        - Sort the results.
      operationId: listDesigns
      parameters:
      - description: "Lets you search the user's designs, and designs shared with\
          \ the user, using a search term or terms."
        example: party invites
        explode: true
        in: query
        name: query
        required: false
        schema:
          maxLength: 255
          type: string
        style: form
      - description: |-
          If the success response contains a continuation token, the list contains more designs
          you can list. You can use this token as a query parameter and retrieve more
          designs from the list, for example
          `/v1/designs?continuation={continuation}`.

          To retrieve all of a user's designs, you might need to make multiple requests.
        example: RkFGMgXlsVTDbMd:MR3L0QjiaUzycIAjx0yMyuNiV0OildoiOwL0x32G4NjNu4FwtAQNxowUQNMMYN
        explode: true
        in: query
        name: continuation
        required: false
        schema:
          type: string
        style: form
      - description: Filter the list of designs based on the user's ownership of the
          designs.
        example: any
        explode: true
        in: query
        name: ownership
        required: false
        schema:
          $ref: '#/components/schemas/OwnershipType'
        style: form
      - description: Sort the list of designs.
        example: relevance
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          $ref: '#/components/schemas/SortByType'
        style: form
      - description: The number of designs to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetListDesignResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - design:meta:read
      tags:
      - design
      x-rate-limit-per-client-user: 100
    post:
      description: |-
        Creates a new Canva design. To create a new design, you can:

        - Use a preset design type.
        - Set height and width dimensions for a custom design.

          NOTE: Custom designs can have a maximum area of 25,000,000 pixels squared (for example, 5000 × 5000 pixels). Each dimension can be between 40 and 8000 pixels, but the total area must stay within this limit.
        - Create a copy of an existing design (currently a [preview feature](https://www.canva.dev/docs/connect/#preview-apis)).
        - Create a new design from a brand template (currently a [preview feature](https://www.canva.dev/docs/connect/#preview-apis)).

        For preset and custom designs, you can also provide the `asset_id` of an asset in the user's [projects](https://www.canva.com/help/find-designs-and-folders/) to add to the new design. Currently, this only supports image assets. To list the assets in a folder in the user's projects, use the [List folder items API](https://www.canva.dev/docs/connect/api-reference/folders/list-folder-items/).

        NOTE: Blank designs created with this API are automatically deleted if they're not edited within 7 days. These blank designs bypass the user's Canva trash and are permanently deleted.
      operationId: createDesign
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDesignRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDesignResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                invalid_design_type:
                  $ref: '#/components/examples/InvalidDesignTypeError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                asset_access_not_allowed:
                  $ref: '#/components/examples/AssetAccessNotAllowedError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                create_design_not_found:
                  $ref: '#/components/examples/CreateDesignNotFoundError'
                create_brand_template_not_found:
                  $ref: '#/components/examples/CreateBrandTemplateNotFoundError'
                asset_not_found:
                  $ref: '#/components/examples/AssetNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - design:content:write
      tags:
      - design
      x-rate-limit-per-client-user: 20
  /v1/designs/{designId}:
    get:
      description: "Gets the metadata for a design. This includes owner information,\
        \ URLs for editing and viewing, and thumbnail information."
      operationId: getDesign
      parameters:
      - description: The design ID.
        explode: false
        in: path
        name: designId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDesignResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - design:meta:read
      tags:
      - design
      x-rate-limit-per-client-user: 100
  /v1/designs/{designId}/pages:
    get:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        Lists metadata for pages in a design, such as page-specific thumbnails.

        For the specified design, you can provide `offset` and `limit` values to specify the range of pages to return.

        NOTE: Some design types don't have pages (for example, Canva docs).
      operationId: getDesignPages
      parameters:
      - description: The design ID.
        explode: false
        in: path
        name: designId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      - description: |
          The page index to start the range of pages to return.

          Pages are indexed using one-based numbering, so the first page in a design has the index value `1`.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: "The number of pages to return, starting at the page index specified\
          \ using the `offset` parameter."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDesignPagesResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - design:content:read
      tags:
      - design
      x-rate-limit-per-client-user: 100
  /v1/designs/{designId}/export-formats:
    get:
      description: |-
        Lists the available file formats for [exporting a design](https://www.canva.dev/docs/connect/api-reference/exports/create-design-export-job/).

        <Note>
        The available export formats depend on the design type and the types of pages in the design.
        Each format includes the page numbers that support it. If a format is supported by every page in the design, its `page_numbers` are omitted.
        </Note>
      operationId: getDesignExportFormats
      parameters:
      - description: The design ID.
        explode: false
        in: path
        name: designId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDesignExportFormatsResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - design:content:read
      tags:
      - design
      x-rate-limit-per-client-user: 100
  /v1/designs/{designId}/dataset:
    get:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        Gets the dataset definition of a design. If the design contains autofill data fields, this API
        returns an object with the data field names and the type of data they accept.

        <Note>

        To get the dataset definition of a brand template, use the
        [Get brand template dataset API](https://www.canva.dev/docs/connect/api-reference/brand-templates/get-brand-template-dataset/).

        </Note>

        Available data field types include:

        - Images (which you can autofill with an image or a video asset)
        - Text
        - Charts

        Use the returned field names and types to build the `data` payload for the
        [Create a design autofill job API](https://www.canva.dev/docs/connect/api-reference/autofills/create-design-autofill-job/)
        with `type: create_from_design`.

        WARNING: Chart data fields and autofilling a video are [preview features](https://www.canva.dev/docs/connect/#preview-apis). There might be unannounced breaking changes to these features which won't produce a new API version.
      operationId: getDesignDataset
      parameters:
      - description: The design ID.
        explode: false
        in: path
        name: designId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDesignDatasetResponse'
          description: OK
        "403":
          content:
            application/json:
              examples:
                get_design_dataset_permission_denied:
                  $ref: '#/components/examples/GetDesignDatasetPermissionDeniedError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                get_design_dataset_not_found:
                  $ref: '#/components/examples/GetDesignDatasetDesignNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - design:content:read
      tags:
      - design
      x-rate-limit-per-client-user: 100
  /v1/print-partner/designs:
    post:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        AVAILABILITY: This API is only available to Print Partners.

        Creates a new Canva design using a Print Partner product ID.

        Print partner proofing information (such as bleed and page constraints) can optionally be provided in the request. The design URLs that are returned include this information, which Canva applies in the editor when opening the design.

        NOTE: Blank designs created with this API are automatically deleted if they're not edited within 7 days. These blank designs bypass the user's Canva trash and are permanently deleted.
      operationId: createPrintPartnerDesign
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePrintPartnerDesignRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePrintPartnerDesignResponse'
          description: OK
        "403":
          content:
            application/json:
              examples:
                create_print_partner_design_forbidden:
                  $ref: '#/components/examples/CreatePrintPartnerDesignForbiddenError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                product_size_not_found:
                  $ref: '#/components/examples/ProductSizeNotFoundError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - design:content:write
      tags:
      - design
      x-rate-limit-per-client-user: 20
  /v1/print-partner/designs/{designId}:
    get:
      description: |-
        <Warning>

        This API is currently provided as a preview. Be aware of the following:

        - There might be unannounced breaking changes.
        - Any breaking changes to preview APIs won't produce a new [API version](https://www.canva.dev/docs/connect/versions/).
        - Public integrations that use preview APIs will not pass the review process, and can't be made available to all Canva users.

        </Warning>

        AVAILABILITY: This API is only available to Print Partners.

        Gets the metadata for a design. This includes owner information, URLs for editing and viewing, and thumbnail information.

        Print partner proofing information (such as bleed and page constraints) isn't stored on Canva, so you can optionally provide it in the request. The design URLs that are returned include this information, which Canva applies in the editor when opening the design.
      operationId: getPrintPartnerDesign
      parameters:
      - description: The design ID.
        explode: false
        in: path
        name: designId
        required: true
        schema:
          pattern: "^[a-zA-Z0-9_-]{1,50}$"
          type: string
        style: simple
      - description: |-
          Bleed in microns to apply around the design in the editor. Bleed is the area
          outside the trim line used to avoid white edges after cutting. Use 0 for no bleed. If bleed is not
          specified, a default of 3000 microns is used.
        explode: true
        in: query
        name: bleed
        required: false
        schema:
          default: 3000
          format: int32
          maximum: 150000
          minimum: 0
          type: integer
        style: form
      - description: |-
          Minimum number of pages the design must have in the editor. The user cannot
          reduce the page count below this value. If both min_pages and max_pages are
          provided, min_pages must be less than or equal to max_pages.
        explode: true
        in: query
        name: min_pages
        required: false
        schema:
          format: int32
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: |-
          Maximum number of pages the design can have in the editor. The user cannot
          add pages beyond this value. If both min_pages and max_pages are provided,
          min_pages must be less than or equal to max_pages.
        explode: true
        in: query
        name: max_pages
        required: false
        schema:
          format: int32
          maximum: 500
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPrintPartnerDesignResponse'
          description: OK
        "403":
          content:
            application/json:
              examples:
                get_print_partner_design_forbidden:
                  $ref: '#/components/examples/GetPrintPartnerDesignForbiddenError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
      security:
      - oauthAuthCode:
        - design:meta:read
      tags:
      - design
      x-rate-limit-per-client-user: 100
  /v1/imports:
    post:
      description: |-
        Starts a new [asynchronous job](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints) to import an external file as a new design in Canva.

        The request format for this endpoint has an `application/octet-stream` body of bytes,
        and the information about the import is provided using an `Import-Metadata` header.

        Supported file types for imports are listed in [Design imports overview](https://www.canva.dev/docs/connect/api-reference/design-imports/#supported-file-types).

        <Note>

[...]
